@page
@model IndexModel
@{
    ViewData["Title"] = "Othello";
    <link rel="stylesheet" href="~/css/style.css" />
}

@* @page
@model YourNamespace.Pages.PlayerModel
@{
    ViewData["Title"] = "Setup Player";
} *@

<div id="player-form" class=" container d-flex justify-content-center align-items-center vh-100" style="display:none;">
    <div class="card shadow-lg border-0 rounded-4 p-4" style="max-width:500px; width:100%;">
        
        <div class="text-center mb-4">
            <h3 class="fw-bold">🎮 Setup Players</h3>
            <p class="text-muted">Masukkan nama pemain untuk mulai game</p>
        </div>

        <form method="post" onsubmit="onSubmit(event)">
            <div class="mb-3">
                <label class="form-label fw-semibold">⚫ Player 1 (Black)</label>
                <input type="text" name="Player1" id="player1" class="form-control form-control-md"
                       placeholder="Masukkan nama Player 1" required />
            </div>

            <div class="mb-4">
                <label class="form-label fw-semibold">⚪ Player 2 (White)</label>
                <input type="text" name="Player2" id="player2" class="form-control form-control-md fs-12 fw-semibold"
                       placeholder="Masukkan nama Player 2" required />
            </div>

            <div class="d-grid">
                <button type="submit"  class="btn btn-dark btn-lg rounded-3">
                    🚀 Mulai Game
                </button>
            </div>
        </form>

    </div>
</div>

<div id="game-board" class="hidden d-flex flex-column justify-content-center align-items-center bg-black" style="display:none;">
    <h2 class="fw-bold text-white">Othello</h2>
    
   <div class="score-card mb-3">

    <div id="player1Card" class="player-half">
        <div class="player-name" id="player1Name">-</div>
        <div class="score" id="player1Score">0</div>
    </div>

    <div id="player2Card" class="player-half">
        <div class="player-name" id="player2Name">-</div>
        <div class="score" id="player2Score">0</div>
    </div>

</div>


   
   <div class="d-flex">
        <div class="mt-3 text-center">
            <button class="btn-pass" onclick="passTurn()">
                Pass
            </button>
        </div>
        <div id="board" class="board"></div>
        <div class="mt-3 text-center">
            <button class="btn-pass" onclick="passTurn()">
                Pass
            </button>
        </div>

    @* Toas invalid move *@
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="invalidMoveToast" class="toast text-bg-danger border-0" role="alert">
        <div class="d-flex">
            <div class="toast-body">
                Invalid move! Pilih posisi yang valid.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
</div>

<div id="gameOverlay" class="game-overlay d-none">
    <div class="game-result-card">
        <h1 id="resultTitle">⚫ Black Wins!</h1>
        <p id="resultScore">40 - 24</p>

        <div class="result-buttons">
            <button onclick="startGame()">🔁 Play Again</button>
            <button onclick="goToMenu()">🏠 Menu</button>
        </div>
    </div>
</div>

</div>

<script>
    const form = document.getElementById("player-form");
    const board = document.getElementById("game-board");
    const boardDiv = document.getElementById("board");

    const player1NameSpan = document.getElementById("player1Name");
    const player2NameSpan = document.getElementById("player2Name");


let players = []; // Akan diisi dari API


   async function onSubmit(e){
    e.preventDefault();
        console.log("MASUK SINI GA ")
        let p1 = document.getElementById("player1").value;
        let p2 = document.getElementById("player2").value;

        players = [p1, p2];
       

        localStorage.setItem("players", JSON.stringify(players));
        board.classList.remove("hidden");
        form.classList.add("hidden");
        await startGame(players)
    }

async function startGame(players) {
    // ambil nama dari input atau default
    let playerBackup = JSON.parse(localStorage.getItem("players"));
    let playersFind = players ?? playerBackup;

    const res = await fetch("http://localhost:5002/Othello/start", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(playersFind)
    });

    if (!res.ok) {
        console.error("Failed to start game", await res.text());
        return;
    }
    
    const data = await res.json();
    const opponent = playersFind.find(n => n !== data.currentPlayer.name);

    playerss = [data.currentPlayer.name, opponent];

    // simpan mapping warna tetap
    playerColors = {
        [data.currentPlayer.name]: data.currentPlayer.color,
        [opponent]: data.currentPlayer.color === "Black" ? "White" : "Black"
    };

    // Update UI nama pemain otomatis
    player1NameSpan.innerText = `⚫ ${playerss[0]} `;
    player2NameSpan.innerText = `⚪ ${playerss[1]} `; 
    
    await loadStatus();
    document.getElementById("gameOverlay").classList.add("d-none");

}

async function loadStatus() {
    await loadBoard()
    const statusRes = await fetch("http://localhost:5002/Othello/status");
    if (!statusRes.ok) {
        const text = await statusRes.text();
        console.error("Error loading status:", text);
        return;
    }


    const data = await statusRes.json();
    console.log("data =>",data);
    const boardData = data.board;
    const currentPlayer = data.currentPlayer;
    const validMoves = data.validMoves;
    const scores = data.score
   
    const {isGameOver} =data
    if(isGameOver){
        let playerWin = scores.black > scores.white ?
         "black" : scores.white > scores.black ? "white" : 'draw'
        showGameResult(playerWin,scores.black,scores.white);
    }
    
    const player1Card = document.getElementById("player1Card");
    const player2Card = document.getElementById("player2Card");

    player1Card.classList.toggle("active", currentPlayer.color === "Black");
    player2Card.classList.toggle("active", currentPlayer.color === "White");

    // Build board
    @* boardDiv.innerHTML = "";
    for (let r = 0; r < boardData.size; r++) {
        for (let c = 0; c < boardData.size; c++) {
            const cell = boardData.cells[r][c];
            const cellDiv = document.createElement("div");
            cellDiv.className = "cell";
            if (cell.piece) cellDiv.innerHTML = `<div class="${cell.piece.color.toLowerCase()}"></div>`;
            cellDiv.addEventListener("click", () => play(r, c));
            boardDiv.appendChild(cellDiv);
        }
    } *@
   
    // Highlight valid moves
    for (const pos of validMoves) {
        const index = pos.row * boardData.size + pos.col;
        boardDiv.children[index].classList.add("valid-move");
    }

    // Update scores dinamis berdasarkan warna
   const playerDivs = document.querySelectorAll(".score-card .player-half");

    for (let div of playerDivs) {

        const nameSpan = div.querySelector(".player-name");
        const scoreSpan = div.querySelector(".score");

    if (nameSpan && scoreSpan) {

        const playerName = nameSpan.innerText
            .replace("⚫ ", "")
            .replace("⚪ ", "")
            .trim();

        const color = playerColors[playerName];

        scoreSpan.innerText =
            color === "Black"
                ? scores.black
                : scores.white;
        }
    }

}

async function loadBoard() {
    const statusRes = await fetch("http://localhost:5002/Othello/board");
    if (!statusRes.ok) {
        const text = await statusRes.text();
        console.error("Error loading board:", text);
        return;
    }

    const data = await statusRes.json();
    // Di sini boardData = data langsung, bukan data.board
    const boardData = data; 

    boardDiv.innerHTML = "";

    for (let r = 0; r < boardData.size; r++) {
        for (let c = 0; c < boardData.size; c++) {
            const cell = boardData.cells[r][c];
            const cellDiv = document.createElement("div");
            cellDiv.className = "cell";
            if (cell.piece) {
                cellDiv.innerHTML = `<div class="${cell.piece.color.toLowerCase()}"></div>`;
            }
            cellDiv.addEventListener("click", () => play(r, c));
            boardDiv.appendChild(cellDiv);
        }
    }
}


async function play(row, col) {
    const res = await fetch("http://localhost:5002/Othello/play", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ row, col })
    });
    if (!res.ok) {
        console.error("Invalid move");
        highlightInvalidCell(row, col);
        showInvalidMoveToast();
        return;
    }
    await loadStatus();
}

async function passTurn() {
    await fetch("http://localhost:5002/Othello/pass", { method: "POST" });
    await loadStatus();
}


function highlightInvalidCell(row, col) {
    const index = row * 8 + col;
        const cell = boardDiv.children[index]
    if (cell) {
        cell.classList.add("invalid");
    setTimeout(() => cell.classList.remove("invalid"), 600);
    }
    return;
}

function goToMenu(){
    localStorage.removeItem("players");
    board.classList.add("hidden");
    form.classList.remove("hidden")

}

function showInvalidMoveToast() {
    const toastEl = document.getElementById('invalidMoveToast');
    const toast = new bootstrap.Toast(toastEl);
    toast.show();
    setTimeout(() => toast.hide(), 600);
}

function showGameResult(result, blackScore, whiteScore) {
    const overlay = document.getElementById("gameOverlay");
    const title = document.getElementById("resultTitle");
    const score = document.getElementById("resultScore");

    score.innerText = `${blackScore} - ${whiteScore}`;

    if (result === "black") {
        title.innerText = "⚫ Black Wins!";
    } 
    else if (result === "white") {
        title.innerText = "⚪ White Wins!";
    } 
    else {
        title.innerText = "🤝 Draw Game!";
    }

    overlay.classList.remove("d-none");
}


window.addEventListener("DOMContentLoaded", async () => {

    const savedPlayers = JSON.parse(localStorage.getItem("players"));

    if (savedPlayers && savedPlayers.length === 2) {

        form.classList.add("hidden");
        board.classList.remove("hidden");

        await startGame(savedPlayers);

    } else {

        form.classList.remove("hidden");
        board.classList.add("hidden");

    }

});

</script>
